* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #020617;
  color: #e5e7eb;
}

header {
  padding: 25px;
  text-align: center;
  background: #000;
  border-bottom: 2px solid #dc2626;
}

header h1 {
  color: #dc2626;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  padding: 16px;
  background: #111827;
  color: #fff;
  border: 2px solid #dc2626;
  border-radius: 12px;
  font-size: 17px;
}

button:active {
  transform: scale(0.97);
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: #020617;
  padding: 20px;
  overflow-y: auto;
}

.modal h2 {
  color: #dc2626;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: #111827;
  border: none;
  border-radius: 8px;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #111827;
  padding: 10px;
  margin-top: 8px;
  border-left: 4px solid #dc2626;
  display: flex;
  gap: 10px;
  align-items: center;
}

input[type="checkbox"] {
  transform: scale(1.3);
}

.voltar {
  background: #374151;
  border-color: #374151;
}

textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  background: #111827;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.humor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px 0;
}

.humor button {
  background: #1f2933;
  border: 2px solid #374151;
  font-size: 14px;
}

.humor button.ativo {
  border-color: #dc2626;
  background: #7f1d1d;
}

#dataHora {
  color: #9ca3af;
  font-size: 14px;
  margin-bottom: 10px;
}

#listaDias div {
  background: #111827;
  padding: 12px;
  margin-top: 10px;
  border-left: 4px solid #dc2626;
  font-size: 14px;
}


