* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  color:#ffffff;
}

body {
  margin: 0;
  background: #0c0c0c;
}

/* HEADER */
header {
  text-align: center;
  padding: 25px;
  background: #000000;
  border-bottom: 2px solid #dc2626;
}

span{
color: #d1d5db;
}

header h1 {
  letter-spacing: 2px;
  color: #dc2626;
}

/* MAIN */
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* BOTÕES */
button {
  padding: 16px;
  min-height: 52px;
  background:none;
  color: #d1d5db;
  border: 2px solid #dc2626;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 600;
  touch-action: manipulation;
  transition: all 0.2s ease;
}

button:active {
  transform: scale(0.97);
  opacity: 0.85;
  background-color: #dc2626;
}

/* BOTÃO VERMELHO → TEXTO BRANCO */
button.salvar {
  width: 100%;
  position: sticky;
  bottom: 15px;
  background: #dc2626;
  color: #ffffff;
  border-color: #dc2626;
  box-shadow: 0 6px 12px rgba(220,38,38,.25);
}

button.salvar * {
  color: #ffffff;
}

.voltar {
  background:  #dc2626;
  border-color: #d1d5db;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  color: #d1d5db;
  background:#0c0c0c;
  padding: 20px;
  overflow-y: auto;
  border-radius: 16px 16px 0 0;
  animation: subirModal 0.3s ease;
}

@keyframes subirModal {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal h2 {
  color: #ffffff;
}

/* INPUTS */
input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: #000;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
}

/* LISTAS */
ul {
  list-style: none;
  padding: 0;
}

li {
  background:#1e252b;;
  padding: 14px;
  margin-top: 8px;
  border-left: 5px solid #dc2626;
  display: flex;
  gap: 10px;
  align-items: center;
}

/* CHECKBOX */
input[type="checkbox"] {
  transform: scale(1.3);
}

/* HUMOR */
.humor {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin: 10px 0 15px;
}

.humor button {
  flex: 1;
  padding: 12px;
  font-size: 14px;
  background: #000;
  border: 2px solid #d1d5db;
}

.humor button.ativo {
  background: #290404;
  border-color: #dc2626;
}
