body {
  font-family: Arial, sans-serif;
  background: #f9fafb;
  padding: 20px;
}

h1 {
  text-align: center;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.abrir {
  background: #ef4444;
  color: #fff;
}

.fechar {
  background: #111827;
  color: #fff;
}

.modal {
  display: none;
  background: #fff;
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
}

.exercicio {
  background: #f3f4f6;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.exercicio p {
  font-weight: bold;
  margin-bottom: 8px;
}

.series {
  display: flex;
  gap: 14px;
}

.series span {
  font-size: 26px;
  cursor: pointer;
  color: #9ca3af;
}

.series span.feito {
  color: #ef4444;
}

.descanso {
  margin-top: 6px;
  font-size: 14px;
  color: #6b7280;
}

.descanso.liberado {
  color: #16a34a;
  font-weight: bold;
}
